extends layouts/main.pug

block content
    .video-detail__container
        video(src=`/${video.fileUrl}`, controls=true)
    .video__info
        a(href=routes.editVideo(video.id))
            button Edit Video
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description
    .video__comments
        .comments_column
            if video.comments.legth === 1
                span.video_comment-number 1 comment
            else
                span.video_comment-number #{video.comments.legth} comments
